body{
     position: absolute;
     direction: rtl;
     font-family: 'tanha';
     background-color: rgba(85, 85, 85, 0.74);
}


button{
    background-color: rgb(230, 230, 113);
    cursor: not-allowed;
    position: absolute;
    right: 620px;
    top: 220px;
}
    

h1{ 
     position: relative;
     text-align: center;
}