body{
     direction: rtl;
     font-family: 'tanha';
     background-color: rgba(88, 128, 128, 0.859);
}


button{
    background-color: burlywood;
    border-style: solid;
    border-color: coral;
    margin: 350px;
    padding: 10px;
    margin-left: 100px;

}
h1{
     text-align: center;
}